* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: black;
  color: black;
  margin-top: 30px; }

span {
  display: inline-block; }

img {
  max-width: 100%;
  max-height: 100%; }

.navbar {
  font-size: 18px;
  font-family: 'Raleway', sans-serif; }

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 35px; }

.navbar-default .navbar-brand {
  color: #C6538C; }

.jumbotron h1 {
  font-family: 'Bangers', cursive;
  font-size: 48px; }

.jumbotron p {
  font-family: 'Permanent Marker', cursive; }

.jumbotron {
  background-color: #db3b3b; }

#map {
  height: 100%; }

.comic_info {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px; }

.social_network_icon {
  font-size: 75px;
  padding: 10px; }

span .time {
  font-size: 13px; }

.hidden {
  display: none; }

.fa-repeat {
  padding-top: 8px;
  padding-left: 8px; }

/*animation*/
/*media queries*/
@media screen and (max-width: 990px) {
  #cart_stuff_to_hide {
    width: 96%;
    top: 40px;
    position: absolute; } }
